<% include partials/head %>

<body>
<div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron text-center">
        <h3>About service</h3>

        <h4 margin-top="10px">This service is created to find interesting events in your city</h4>
    </div>
    <hr>
    <span class="fa fa-sign-in">Already got an account?<a href="/login">Login</a></span>
    <% include partials/foot %>
</div>

</body>
</html>
