<% include partials/head %>

<body>
<div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron text-center">
        <h3>About service</h3>

        <h4 margin-top=""></h4>
    </div>
    <hr>
    <span class="fa fa-sign-in"> Уже есть аккаунт?<a href="/login"> войти</a></span>
    <% include partials/foot %>
</div>

</body>
</html>
