<% include partials/head %>

<body>

    <div class="col-sm-8 col-sm-offset-2">
        <div class="jumbotron text-center">
            <p class="lead">Social and development accounts</p>


            <div class="row" align="center">
                <a class="navbar-brand mx-auto" href="https://github.com/Korna" style="color:black;">
                    <img src="resources/github.svg" width="60" height="60" alt="logo">
                    <span>Github</span>
                </a>
            </div>

            <div class="row" align="center">
                <a class="navbar-brand mx-auto"
                   href="https://www.linkedin.com/in/%D0%B0%D1%80%D1%82%D0%B5%D0%BC-%D1%86%D0%B5%D0%B1%D1%80%D0%BE%D0%B2-3511b315a/"
                   style="color:black;">
                    <img src="resources/linkedin.svg" width="60" height="60" alt="logo">
                    <span>Linkedin</span>
                </a>
            </div>

            <div class="row" align="center">
                <a class="navbar-brand mx-auto"
                   href="https://spb.hh.ru/applicant/resumes/view?resume=d5a89c00ff038472a40039ed1f514168373174/"
                   style="color:black;">
                    <img src="resources/headhunter.svg" width="60" height="60" alt="logo">
                    <span>Headhunter</span>
                </a>
            </div>

        </div>
    </div>


</body>

