<% include partials/head %>

<body>
<div class="col-sm-8 col-sm-offset-2">
  <div class="jumbotron text-center">
    <h1> Создать событие</h1>

      <% if (message != null) { %>
    <div class="alert-danger"><%= message %></div>
      <% } %>

    <form>
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label>Body</label>
        <input type="text" class="form-control" name="description" />
      </div>

      <label>image</label><div class="form-group">

        <input type="text" class="form-control" name="image" />
      </div>
      <div>
        <button>Create</button>
      </div>
    </form>

  </div>
</div>

<div align="center" id="googleMap" style="width:100%;height:800px;"></div>

<script>

  function initInterface() {
      var profile = load();
  }

    function load() {
        var the_cookie = document.cookie.split(';');
        if (the_cookie[0]) {
            this.data = unescape(the_cookie[0]).parseJSON();
        }
        return this.data;
    }


    let map, infoWindow;
    var marker;
    function initMap() {
        map = new google.maps.Map(document.getElementById('googleMap'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 9
        });

        google.maps.event.addListener(map, 'click', function(e) {
            if(marker != null)
                marker.setMap(null);

            marker = new google.maps.Marker({
                position: e["latLng"],
                title: "Point"
            });

            marker.setMap(map);
        });

        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                infoWindow.open(map);
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }




</script>

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDCFbPVzX-zKrrCGSIpu9B00Ya22SMh3ic&callback=initMap'></script>

</body>
</html>
