<% include partials/head %>

<body onload="loadAllNotes()">
<script>
    function loadAllNotes(){
        var currentLocation = window.location;
        var url = currentLocation + '/notes/all';
        fetch(url).then(function(response) {
            return response.json();
        }).then(function(data) {
            console.log(data);

            clearList();

            data.forEach(function(entry) {
                add(entry.title, entry._id, entry.image);
            });

        }).catch(function() {
            console.log('error');
        });
    }

    function clearList() {
        var list = document.getElementById('note_list');
        while( list.firstChild ){
            list.removeChild( root.firstChild );
        }
    }
    function add(title, id, image){
        var list = document.getElementById('note_list');
        var entry = document.createElement('li');

        var img = document.createElement("img");

        img.src = './upload/' + image;
        entry.appendChild(img);

        entry.appendChild(document.createTextNode('title:' + title// + ' id:' + id
        ));
        entry.setAttribute('id', id); // added line
        entry.setAttribute('image', image); // added line

        var btn = document.createElement("button");
        var t = document.createTextNode("Delete");

        btn.onclick = function(evt) {
            evt.preventDefault();
            del(entry.getAttribute('id'));
        }

        btn.appendChild(t);

        entry.appendChild(btn);
        list.appendChild(entry);
    }

    function del(count){
        var currentLocation = window.location;

        var url = currentLocation + '/notes/' + count;

        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", url, true);
        xhr.onload = function () {

        }
        xhr.send(null);
    }
</script>
<div class="col-sm-8 col-sm-offset-2">
  <div class="jumbotron text-center">

      <% if (message != null) { %>
    <div class="alert-danger"><%= message %></div>
      <% } %>

    <input type="submit" value="Reload" onclick="loadAllNotes()">

    <body>
    <ol id="note_list"></ol>
    </body>


  </div>

  <hr>
  <p>Or go <a href="/">home</a>.</p>
</div>
</body>
</html>
