<% include partials/head.ejs %>

<body onload="loadAllNotes()">
<script>

    function getUrl(){
        var url = window.location.href
        var arr = url.split("/");
        var result = arr[0] + "//" + arr[2]
        return result;
    }
    function loadAllNotes(){
        var url = getUrl() + '/api/event/list';

        fetch(url, {
            credentials: "same-origin"
        }).then(function(response) {
            return response.json();
        }).then(function(data) {
            console.log(data);

            clearList();

            data.forEach(function(entry) {
                add(entry.name, entry._id, entry.image);
            });

        }).catch(function() {
            console.log('error');
        });
    }

    function clearList() {
        var list = document.getElementById('note_list');
        while( list.firstChild ){
            list.removeChild( root.firstChild );
        }
    }
    function add(title, id, image){
        var list = document.getElementById('note_list');
        var entry = document.createElement('li');

        var img = document.createElement("img");

        img.src = image;
        entry.appendChild(img);

        entry.appendChild(document.createTextNode('    ' + title// + ' id:' + id
        ));
        entry.setAttribute('id', id); // added line
        entry.setAttribute('image', image); // added line

        var btn = document.createElement("button");
        var t = document.createTextNode("Удалить");

        btn.onclick = function(evt) {
            evt.preventDefault();
            del(entry.getAttribute('id'));
        }

        btn.appendChild(t);

        entry.appendChild(btn);
        list.appendChild(entry);
    }

    function del(count){
        var url = getUrl()  + '/api/notes/' + count;

        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", url, true);
        xhr.onload = function () {

        }
        xhr.send(null);
    }
</script>
<div class="col-sm-8 col-sm-offset-2">
  <div class="jumbotron text-center">

    <input type="submit" value="Reload" onclick="loadAllNotes()">

    <body>
    <ol id="note_list"></ol>
    </body>


  </div>

  <hr>
    <% include partials/foot %>
</div>
</body>
